<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Core 2 Web API</title>
  </head>

  <body>
    <h1>Core 2 Web API</h1>

    <h2>Accounts</h2>
    <ul>
      <li><strong>GET /api/Accounts</strong>: Get all accounts</li>
      <li><strong>GET /api/Accounts/1</strong>: Get an account with given Id (number at the end of URL)</li>
      <li><strong>POST /api/Accounts</strong>: Create an account</li>
      <li><strong>PUT /api/Accounts/1</strong>: Update an account with the given Id (number at the end of URL)</li>
      <li><strong>DELETE /api/Accounts/1</strong>: Delete an account with the given Id (number at the end of URL)</li>
    </ul>

    <h2>Clients</h2>
    <ul>
      <li><strong>GET /api/Clients</strong>: Get all Clients</li>
      <li><strong>GET /api/Clients/1</strong>: Get an Client with given Id (number at the end of URL)</li>
      <li><strong>POST /api/Clients</strong>: Create an Client</li>
      <li><strong>PUT /api/Clients/1</strong>: Update an Client with the given Id (number at the end of URL)</li>
      <li><strong>DELETE /api/Clients/1</strong>: Delete an Client with the given Id (number at the end of URL)</li>
    </ul>

    <h2>Deposits</h2>
    <ul>
      <li><strong>GET /api/Deposits</strong>: Get all Deposits</li>
      <li><strong>GET /api/Deposits/1</strong>: Get an Deposit with given Id (number at the end of URL)</li>
      <li><strong>POST /api/Deposits</strong>: Create an Deposit</li>
    </ul>

    <h2>Withdrawals</h2>
    <ul>
      <li><strong>GET /api/Withdrawals</strong>: Get all Withdrawals</li>
      <li><strong>GET /api/Withdrawals/1</strong>: Get an Withdrawal with given Id (number at the end of URL)</li>
      <li><strong>POST /api/Withdrawals</strong>: Create an Withdrawal</li>
    </ul>

    <h2>Loans</h2>
    <ul>
      <li><strong>GET /api/Loans</strong>: Get all Loans</li>
      <li><strong>GET /api/Loans/1</strong>: Get an Loan with given Id (number at the end of URL)</li>
      <li><strong>POST /api/Loans</strong>: Create an Loan</li>
      <li><strong>PUT /api/Loans/1</strong>: Update an Loan with the given Id (number at the end of URL)</li>
      <li><strong>DELETE /api/Loans/1</strong>: Delete an Loan with the given Id (number at the end of URL)</li>
    </ul>
  </body>

</html>
