@model EmployeesDashboard.Models.LoanCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LoanCreateModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YearlyInterestRate" class="control-label"></label>
                <input asp-for="YearlyInterestRate" class="form-control" />
                <span asp-validation-for="YearlyInterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInMonths" class="control-label"></label>
                <input asp-for="DurationInMonths" class="form-control" />
                <span asp-validation-for="DurationInMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
